/* global */
@import url('https://fonts.googleapis.com/css?family=Roboto');

.grid-2{
    display: grid;
    grid-template-rows: repeat(2,1fr);
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #101214;
    color: #7A7C80;
}

h2,h3,.white{
    color: #fff;
}

a{
    color: #7A7C80;
    text-decoration: none;
}
/* section 1 */
.section {
    padding-top: 10%;
    padding-left: 35%;
    padding-right: 35%;
    text-align: center;
}

.section p {
    font-size: 1.3rem;
/*     padding-left: 25%;
    padding-right: 25%; */
    padding-bottom: 2rem;
    margin:0;
}

.section h2 {
    font-size: 2rem;
}

.section h3 {
    font-size: 1.3rem;
}

.section a {
    font-size: 1.5rem;
    padding: 10px;
}

.social-media a{
    padding: 0.5rem;
}

.episodes a {
    font-size: 1rem;
}

.section a:hover{
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.white:hover{
    position: relative;
    padding-left: 10px;
}

/* media queres */
@media(max-width:780px){
    .grid-2{
        grid-template-columns: 1fr;
    }
    .section{
        padding:0;
        padding-top: 5rem;
    }
    .section-2{
        padding: 0;
        padding-left: 1.5rem;
        padding-top: 2rem;
    }
}
